.splitScreen{
    display: flex;
    flex-direction: row;
}
.topPane, .bottomPane{
    height: 100vh;
    background-color: #444444;
    float: left;
    width: 50%;
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
}
.bottomPane{
    background-color: #DA0037;
    float: right;
}
.CreatQuizHeading,.JoinQuizHeading{
    font-weight:800;
    font-size:xxx-large;
    color: #EDEDED;
}

.ant-form-item-label > label{
    font-size: xx-large !important;
    color: #EDEDED !important;
}
.ant-btn{
    font-size: large !important;
}

#CreateQuizButton{
    background: #DA0037;
    border-color: transparent;
    width: 100%;
}
#JoinQuizButton{
    background: #444444;
    border-color: transparent;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .splitScreen{
        display: flex;
        flex-direction:column
    }
    .topPane, .bottomPane{
        height: 50vh;
        background-color: #444444;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .bottomPane{
        background-color: #DA0037;
    }    
}